<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <pre>
            Радио Трамвай основано в 2017 году студентом третьего курса
        медицинского университета имени академика И. П. Павлова.

        Цель проекта - дать людям возможность слушать качественную музыку
        в любом месте и в любое время суток. Дифференцировка «качественной
        музыки» происходит на основании музыкального вкуса нашей команды.
        Примерные ориентиры сходятся в классике рок музыки, а также регги,
        фолк, инди. Большое внимание уделяется прогрессивному и психодели-
        ческому року 70-х годов. Кроме этого, мы стараемся постоянно искать
        достойных музыкантов нашего времени, мы уверены, что хорошая музыка
        всегда была, есть и будет, просто надо её хорошенько поискать. Эту задачу
        и ставим, как первостепенную в нашем проекте, а на вас остается задача
        слушать и решать уже для себя, что бы вы назвали «качественной музыкой»,
        а что нет. И даже если какие-то исполнители или песни вам покажутся
        второсортными, мы все равно надеемся, что ваш плейлист будет обновлять-
        ся и пополняться треками, которые станут частью вашей жизни.

        Сейчас популярность радио пошло на убыль, но мы уверены, что это лишь
        от того, что на всех радиостанциях предлагается примерно один и тот же
        контент, уровень которого находится между «плохо» и «очень плохо». Мы
        решили взять часть радиовещания под свой личный контроль, чтобы как-то
        улучшить ситуацию, хотя бы немного. Ведь виноваты в том, что на радио
        часто крутят песни, которые стыдно даже в кабаке включить, не директора
        и не чиновники, виноваты мы сами. Надо взять вину на себя и исправлять
        сложившееся положение, этим мы и занимаемся.
        В песне пелось: «Если каждый возьмет вину на себя, то на всех не хватит вины.»

        Надеемся, что наша работа доставит вам и удовольствие, и вы узнаете
        множество новых исполнителей, о которых раньше даже и не слышали.

        С огромным уважением и любовью, команда Радио Трамвай.
        </pre>
    </div>
</div>

</body>
</html>