<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/contacts.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <pre>
Вы можете найти в социальных сетях по следующим ссылкам:

1) Vkontake
       www.vk.com/radiotr
2) Twitter
       www.twitter.com/radiotr
3) Instagram
       www.instagram.com/radiotr
4) Эл. почта
       radiotr@gmail.com
</pre>
    </div>
    <img src="/imgs/tram.png" alt="">
</div>

</body>
</html>