<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <pre>
Радио существует на личные средства членов нашей команды,
мы не зарабатываем на рекламе потому, что её попросту у нас
нет. В связи с этим мы будем рады любым вашим пожертвова-
ниям, которые абсолютно точно, облегчат нам жизнь, и у нас
будет больше времени на подбор музыки и составление прог-
рамм. Пожертвования скидывайте на наш счет в сбербанке по
этим реквизитам:

Номер счета карты: 40817810655761154689
Банк получателя: Сбербанк России
БИК: 044030653
Корр. счет: 30101810500000000653
ИНН: 7707083893
КПП: 784243001

Либо, если вы пользуетесь СбербанкомОнлайн, возможно осуществить
перевод по номеру карты:

4276 5500 1852 7617
Получатель: Никита Дмитриевич З.


Кроме того, если у вас есть какие-то идеи по улучшению качества
нашей работы или еще что-то такого же рода, смело пишите на нашу
электронную почту, которую можно найти в разделе Контакты нашего
сайта.

Будем рады любой вашей помощи, с уважением и любовью, команда
Радио Трамвай.

        </pre>
    </div>
</div>

</body>
</html>