body{
    font-size: 14pt;
    text-align: center;
}

pre{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;

}

#background{
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
}

#background img{
    margin:0 auto;
    margin-top: 80px;
    max-width: 480px;
    opacity: 0.09;
}